/*
Collapsing Pages version: 0.4
Copyright 2007 Robert Felty


This file is part of collapsPage pages

		Collapsing Pages is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License as published by 
    the Free Software Foundation; either version 2 of the License, or (at your
    option) any later version.

    Collapsing Pages is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Collapsing Pages; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

span.collapsPage {border:0;
 padding:0; 
 margin:0; 
 cursor:pointer;
/* font-family: Monaco, 'Andale Mono', Courier, monospace;*/
}

#sidebar li.collapsPage:before {content:'';} 
#sidebar li.collapsPage {list-style-type:none}
#sidebar li.collapsPagePost {
             text-indent:-1em;
             margin:0 0 0 1em;}
li.widget.collapsPage ul {margin-left:.5em;}
#sidebar li.collapsItem :before {content: "\00BB \00A0" !important;} 
#sidebar li.collapsPage .sym {
               font-size:1.2em;
               font-family:Monaco, 'Andale Mono', 'FreeMono', 'Courier new', 'Courier', monospace;
      padding-right:5px;}
